.vscode
data/
**/__pycache__/
logs/*
experiments/logs
!logs/.gitkeep
datasets/* 
!datasets/*.sh
.vscode/
*.egg-info/
eggs/
.eggs/
*.egg
**.egg
build/
_build/
**/build/
outputs/
log.txt
examples/
hyperopt/
docs/source/logs/*