.vscode
data/
**/__pycache__/
logs/*
experiments/logs
!logs/.gitkeep
datasets/*
!datasets/*.sh
!datasets/ZH
datasets/ZH/*
!datasets/ZH/*.sh
.vscode/
*.egg-info/
eggs/
.eggs/
*.egg
**.egg
build/
_build/
**/build/
outputs/
log.txt
examples/
hyperopt/
docs/source/logs/*
