a,
.wy-menu-vertical header,
.wy-menu-vertical p.caption,
.wy-nav-top .fa-bars,
.wy-menu-vertical a:hover,

.rst-content code.literal, .rst-content tt.literal

{
	color: #a55aee !important; 
}

/* inspired by sphinx press theme */
.wy-menu.wy-menu-vertical li.toctree-l1.current > a {
	border-left: solid 8px #ad84f8 !important;
	border-top: none;
	border-bottom: none;
}

.wy-menu.wy-menu-vertical li.toctree-l1.current > ul {
	border-left: solid 8px #d5bcf8 !important;
}
/* inspired by sphinx press theme */

.wy-nav-side {
	color: unset !important;
	background: unset !important;
	border-right: solid 1px #ccc !important;
}

.wy-side-nav-search,
.wy-nav-top,
.wy-menu-vertical li,
.wy-menu-vertical li a:hover,
.wy-menu-vertical li a
{
	background: unset !important;
}

.wy-menu-vertical li.current a {
	border-right: unset !important;
}

.wy-side-nav-search div,
.wy-menu-vertical a {
	color: #404040 !important;
}

.wy-menu-vertical button.toctree-expand {
	color: #333 !important;
}

.wy-nav-content {
	max-width: unset;
}

.rst-content {
	max-width: 900px;
}

.wy-nav-content .icon-home:before {
	content: "Docs";
}

.wy-side-nav-search .icon-home:before {
	content: "";
}

dl.field-list {
	display: block !important;
}

dl.field-list > dt:after {
	content: "" !important;
}

dl.field-list > dt {
	display: table;
	padding-left: 6px !important;
	padding-right: 6px !important;
	margin-bottom: 4px !important;
	padding-bottom: 1px !important;
	background: #f6ecd852;
	border-left: solid 2px #ccc;
}


dl.py.class>dt
{
	color: rgba(17, 16, 17, 0.822) !important;
	background: rgba(248, 191, 224, 0.1) !important;
	border-top: solid 2px #ba41cf !important;
}

dl.py.method>dt
{
	background: rgba(248, 191, 224, 0.1) !important;
	border-left: solid 2px #bcb3be !important;
}

dl.py.attribute>dt,
dl.py.property>dt
{
	background: rgba(194, 233, 248, 0.1) !important;
	border-left: solid 2px #58b5cc !important;
}

.fa-plus-square-o::before, .wy-menu-vertical li button.toctree-expand::before,
.fa-minus-square-o::before, .wy-menu-vertical li.current > a button.toctree-expand::before, .wy-menu-vertical li.on a button.toctree-expand::before
{
	content: "";
}

.rst-content .viewcode-back,
.rst-content .viewcode-link
{
	font-size: 120%;
}
